name: Build WPF Project

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Get Git Info
      shell: pwsh
      run: |
        $gitRev = git rev-parse --short HEAD
        $commitMsg = git log -1 --pretty=%B

        Write-Host "GIT_REV=$gitRev"
        Write-Host "COMMIT_MSG=$commitMsg"

        echo "GIT_REV=$gitRev" >> $env:GITHUB_ENV
        echo "COMMIT_MSG=$commitMsg" >> $env:GITHUB_ENV

    - name: Build (PASS TO MSBUILD)
      shell: pwsh
      run: |
        dotnet build HostComputer.sln -c debug `
          /p:GitRevision="$env:GIT_REV" `
          /p:GitCommitMessage="$env:COMMIT_MSG"
