name: Build WPF Project

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Get Git Revision
      shell: pwsh
      run: |
        $gitRev = git rev-parse --short HEAD
        echo "GIT_REV=$gitRev" >> $env:GITHUB_ENV

    - name: Get Commit Message
      shell: pwsh
      run: |
        $commitMsg = git log -1 --pretty=%B
        echo "COMMIT_MSG=$commitMsg" >> $env:GITHUB_ENV

    - name: Build WPF
      shell: pwsh
      run: |
        dotnet build HostComputer.sln -c Release
